.parent {
  text-align: center;
  display: block;
 }

 .form{
  margin-top: 10px;
 }

 .list {
   text-align: center;
   display: block;
 }

 .button {
  margin-top: 5px;
 }

 .add-category {
   margin-top: 20px;
 }

 .button-show-graph {
   margin-top: 20px;
   margin-right: 10px;
 }

 .category-button {
  margin-left: 10px;
 }

 .google {
  margin-top: 25px;
 }