<form class="form" [formGroup]="form">
    <div>
      <select formControlName="category" class="category" (change)="onSelectCategory($event)" *ngIf="category_flag">
        <option class="category-select" [value]="null">
          カテゴリを選択
        </option>
        <option class="category-list" *ngFor="let category of categories" [value]="category.id">
          {{ category.title }}
        </option>
      </select>
      <input formControlName="calendar" class="input" id="myInput" type="text" placeholder="期間を選択" (change)="onChangeday($event)"/>
    </div>
  </form>
