<form class="form" [formGroup]="form">
    <div>
      <select formControlName="category" class="category" (change)="onSelectCategory($event)" *ngIf="category_flag">
        <option class="category-select" [value]="null">
          カテゴリを選択
        </option>
        <option class="category-list" *ngFor="let category of categories" [value]="category.id">
          {{ category.title }}
        </option>
      </select>
      <select formControlName="month" class="month" (change)="onChangeMonth($event)">
        <option class="month-select" [value]="null">
          月を選択
        </option>
        <option class="month-list" *ngFor="let month of all_month" [value]="month">
          {{ month }}月
        </option>
      </select>
      <select formControlName="day" class="day" (change)="onChangeday($event)">
        <option class="day-select" [value]="null">
          日を選択
        </option>
        <option class="day-list" *ngFor="let day of all_day" [value]="day">
          {{ day }}日
        </option>
      </select>
    </div>
  </form>